{% extends 'base_withot_footer.html' %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".form_div_login").show();
            $(".form_div_loginsiup").hide();
    });

    $(document).ready(function(){
        $("#vorod").click(function(){
            $(".form_div_login").show();
            $(".form_div_loginsiup").hide();
        });
        $("#sabtnam").click(function(){
            $(".form_div_login").hide();
            $(".form_div_loginsiup").show();
        });
    });
    //field validation

    function validateUsername() {
    //alert('من فراخوانی میشم');
    fld = document.getElementById('id_username').value;
    //alert('fld:'+fld);
    var error = "";
    var numbers = /^[0-9]+$/;

    if(fld.value === " ") {
        fld.style.background = 'Yellow';
        error = "کد ملی خود را وارد کنید\n";
        alert(error);
        return false;

    } else if ((fld.value.length < 10) || (fld.value.length > 10)) {
        fld.style.background = 'Yellow';
        error = "کد ملی اشتباه است\n";
        alert(error);
        return false;

    } else if (numbers.test(fld.value)) {
        fld.style.background = 'Yellow';
        error = "کد ملی میتواند شامل اعداد ۰تا۹ باشد\n";
        alert(error);
        return false;

    } else {
        fld.style.background = 'White';
    }
    return true;
    }

</script>


<div class="signupbackground">
    <div class="form_div_loginsiup">
        <div class="titr_login_signup">
            <p>عضویت</p>
        </div>
        <div class="login_signupformss">
            <form class="site-form" action="{% url 'accounts:signup' %}" method="POST">
                {% csrf_token %}
                    <label class="laballoginsignup" for="id_username">کدملی</label><input type="text" class="form-control" id="usr"  name="username" maxlength="10" autofocus="" required="" id="id_username">
                    <label class="laballoginsignup" for="id_first_name">نام</label><input class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name">                    <label for="id_last_name">نام خانوادگی</label><input class="form-control" type="text" name="last_name" maxlength="150" id="id_last_name">
                    <label class="laballoginsignup" for="id_email">ایمیل</label><input type="email" class="form-control" name="email" required="" id="id_email">
                    <label class="laballoginsignup" for="id_password1">رمز عبور</label><input type="password"class="form-control"  name="password1" required="" id="id_password1">
                    <label class="laballoginsignup" for="id_password2">تکرار رمز عبور</label><input class="form-control"  type="password" name="password2" required="" id="id_password2"><br>
                    <input  style="float: right ;" class="btn22 success33" type="submit" ,="" value="ثبت نام">
                </form>
                <input style="float: left ;" id="vorod" class="btn22 success22" type="input" ,="" value="ورود">
        </div>
    </div>

    <div class="form_div_login">
        <div class="titr_login">
            <p>ورود</p>
        </div>
        <div class="login_formss">
            <form class="site-form" action="{% url 'accounts:loginpage' %}" method="POST">
                {% csrf_token %}
            <label  class="laballoginsignupfor="id_username">کدملی</label><input class="form-control" type="text" name="username" autofocus="" required="" id="id_username">
            <label class="laballoginsignup for="id_password">رمز عبور</label><input  class="form-control" type="password" name="password" required="" id="id_password"><br><br><br>

            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}

            <input  style="float: right ;" class="btn22 success33" type="submit" ,="" value="ورود">
            </form>
             <input style="float: left ;" id="sabtnam" class="btn22 success22" type="input" ,="" value="ثبت نام">
        </div>
    </div>

</div>



{% endblock %}
